@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "card";
@import "navigation";
@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Alegreya:400,700);

* {
  @include box-sizing(border-box);
}

html {
}

.bg {
  @include position(fixed, 0 0 0 0);
  background-image: url('../images/bg.jpg');
  background-size: cover;
  z-index: -1;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

body {
  color: white;
  margin: 0 !important;
}

section {
  height: 20vh;
  margin: 0 auto;
  display: table;
}

section > div:first-child {
  display: table-cell;
  vertical-align: middle;

}

@mixin headers {
  @include margin(0);
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @include headers;
  font-size: modular-scale(5);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 2px 2px 2px black;
}

h2 {
  @include headers;
  @include transition(opacity 5s $ease-in-circ);
  @include margin(1em 0 1em 0);
  padding: 15px;
  font-family: "Alegreya", serif;
  font-size: modular-scale(3);
  opacity: 1;
  max-width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased !important;
}

h3 {
  @include headers;
}

.cards {
  @include margin(3em 0 0 0);
  color: black;
  position: relative;
}

.card {
  position: relative;

}

.flipper {
  position: relative;
  perspective: 600px;
  transform-style: preserve-3d;

  &.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg) rotateX(0deg);
      z-index: 3;
    }
  }
}

.front {
  transform-style: preserve-3d;
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  transition: all .6s ease-in-out;
  width: 300px;
  height: 320px;
  position: absolute;
  top: 0;
  z-index: 2;
  background: white;
  transform: rotateY(0deg) rotateX(0deg);
  backface-visibility: hidden;
}

.back {
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  transition: all .6s ease-in-out;
  width: 300px;
  height: 320px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  background: gray;
  transform: rotateY(-179deg);
  transform-style: preserve-3d;

  .card-image {
    height: 150px;
    background: lighten(blue, 20%) !important;
  }

  .card-image img {
    background: lighten(blue, 20%) !important;
  }
}

.heart-container {

}

.fa-heart {
  color: red;
  font-size: 20px !important;
}

